
.content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
    background: #ffb443;
    border-radius:15px;
    /*box-shadow: 25px 30px 2px #dd7dff*/ /*#52206b*/ /*B4DDE3*/;
    box-shadow: 15px 15px 1px #000;
  
  }
  
  
  .grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
   grid-template-columns: auto auto;
    /*background-color: #3e2723;*/
    padding: 10px;
    place-items: center;
    border: 5px solid black;
    border-radius:15px;
    place-items: center;
  
  }
  .grid > div {
    padding: 50px;
    border: 5px solid #000;
    font-size: 30px;
    text-align: center;
    position: relative;
    width: 100%;
    height:100%;
    font-weight	:700;
    text-transform: uppercase;
  }
  /* .grid > div, a {
   cursor: url("https://img.icons8.com/ios/50/null/hand-cursor.png"),pointer;
    
  } */
  
  .grid > div:hover{
    transition: all 0.5 ease;
    text-shadow: #dd7dff 2px 2px;
    color: #ffff;
  }
  .div1 { 
    grid-area: 1 / 1 / 3 / 2; 
    background: #00ff75 /*#38dbff*/;
  }
  .div2 { 
    grid-area: 1 / 2 / 2 / 3;
    background: #38dbff;
  }
  .div3 { 
    grid-area: 3 / 1 / 4 / 2;
    background: #fff503/*E2BA48*/;
  }
  .div3 {
    text-decoration: none;
    width: 100%;
    height: 100%;
    border: 5px solid #000;
    font-weight	:700;
    text-transform: uppercase;
    font-size: 30px;
    padding: 50px;
  }
  .div4 { 
    grid-area: 2 / 2 / 4 / 3;
    background: #ff5d5d/*9E202B*/;
  }
  .div1, .div4{
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  
  }
  .div2, .div3{
        display: flex;
      justify-content: center;
      align-items: center;
    text-align: center;
  }
  
  .line{
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 10px;
    transform: rotate(90deg);
  }
  .line > h1{
    font-family: 'Dirtyline 36Daysoftype 2022';
    font-size: 60px;
  }
  .line > h1:after {
     content: "";
     display: block;
     width: 200px;
     height: 5px;
     /* background: #191970; */
     background: #ff1a1a;
     opacity:0.7;

     left: 0;
     top: 50%;
     position: absolute;
       }

  section{
    max-width: 600px;
    /* transform: translateY(-100px); */
    padding: 15px;
    border: 5px solid #000000;
    border-radius:15px;
    box-shadow: 15px 15px 1px #000;
    /* visibility: hidden; */
    /* display: none; */
    position: absolute;
    z-index: 1;
    transition: all 1s ease;
  }

section > p {
  font-size: 20px;
}
.about{
  background:#38dbff;
  transform: translateY(-100px);
  display: flex;
  flex-direction: column;

}
.info{
  margin-top: 15px;
}
.resume{
  display: flex;
  justify-content: center;
  
}
.info > ul {
  list-style:"*";
  margin-left: 25px;
  padding: 5px;
}
/* .info > ul li{

} */
.contacts{
  background: #00ff75;
  
}
.projects{
  background: #ff5d5d;
}
.links{
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
a{
  text-decoration: none;
  color: #000000;
}
a:hover{
  color: #ffff;
}
.btn{
  padding: 15px 26px;
  border: 2px solid #000000;
  border-radius: 15px; 
  box-shadow: 5px 4px 1px #000;
  margin: 0 5px;

}
.btn:hover{
  box-shadow: 3px 2px 1px #000;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form label{
  font-size: 1.4em;
  padding: 5px 0;
}
.form input{
  font-size: 1.4em;
  border-radius: 15px;
  padding-left: 10px;
  border: 2px solid #000000;
  box-shadow: 5px 4px 1px #000;
  background: transparent;

}
.form textarea{
  min-height: 160px;
  width: 80%;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #000000;
  box-shadow: 5px 4px 1px #000;


}
.send{
  width: 100px;
  margin-top: 10px;
 
}
  .right{
    max-width:400px;
    position:absolute;
    top:10px;
    right:10px;
    font-family: 'Dirtyline 36Daysoftype 2022';
    font-weight: normal;
    font-style: normal;
    /* font-family: 'Magtis';
    font-weight: bold;
    font-style: normal; */
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: -1;
  }
  .right > .date{

    font-size: 40px;
    margin-top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    transition: all 0.5s ease;

  }
  .right > .date:hover{

    transform: translate(-2px);
    text-shadow: 1px 3px 1px #000;
    color: #ff1a1a;

  }
  .right  .btn{
    background: #000;
  }
  
  .half_background {
    background: linear-gradient(to top, var(--bot) 50%, var(--top) 50%);
    --top: transparent; --bot: yellow;
    word-spacing: 10px;
    padding-left: 5px;
    padding-right: 15px;
    
  }
  
  /*circle hightlightin*/
  
  .circle-sketch-highlight{
    position:relative;
    left:0.5em;
    font-size: 25px;
    font-weight: 500;
  }
  .circle-sketch-highlight:before{
    content:"";
    z-index:-1;
    left:-0.5em;
    top:-0.1em;
    border-width:3px;
    border-style:solid;
    border-color:red;
    position:absolute;
    border-right-color:transparent;
    width:100%;
    height:1em;
    transform:rotate(2deg);
    opacity:0.7;
    border-radius:50%;
    padding:0.1em 0.25em;
    z-index: 5;
  }
  .circle-sketch-highlight:after{
    content:"";
    z-index:-1;
    left:-0.5em;
    top:0.1em;
    padding:0.1em 0.25em;
    border-width:2px;
    border-style:solid;
    border-color:red;
    border-left-color:transparent;
    border-top-color:transparent;
    position:absolute;
    width:100%;
    height:1em;
    transform:rotate(-1deg);
    opacity:0.7;
    border-radius:50%;
    z-index: 5;
  
  }

  /*projects*/

.project-card{
  margin-top: 15px;
}

.project-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.project-title{
  font-family: 'Magtis';
  font-size: 24px;

}
.projects-links{
  display: flex;
  justify-content: space-between;
}
.projects-links a{
  margin: 0 5px;
}
.projects-links .btn{
  padding: 5px 10px;
  
}
.project-description{
  background: #00ff75;
  width: 80%;
  word-wrap: break-word;
  position: relative;
  border-radius: 15px;
  border: 2px solid #000000;
  box-shadow: 10px 12px 1px #000000;
  padding: 10px;
  max-height: 280px;
  z-index: 1;
  top: -50px;
  margin-left: 100px;
  overflow-y: auto;

}
.project-img{
  width: 80%;
  position: relative;
  border-radius: 15px;
  border: 2px solid #000000;
  box-shadow: 10px 12px 1px #000000;

}
.project-img > img{ 
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  border-radius: inherit;
}

/*navigation*/
.swiper-button-prev{
  left: var(--swiper-navigation-sides-offest, 16px) !important;
}
.swiper-button-next, .swiper-button-prev { 
  width: 45px !important;
  height: 45px !important;
  border: 2px solid #000000;
  box-shadow: 5px 4px 1px #dd7dff;
  border-radius: 15px;
  /* background: #dd7dff; */
  margin-left: -15px;
}
.swiper-button-prev::after ,.swiper-button-next::after{
  color: #000000;
  font-size: 16px !important;
}
.swiper-button-prev:hover ,.swiper-button-next:hover{
  background: #38dbff;
  box-shadow: 5px 4px 1px #38dbff;

}

  footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    left: 0;
    font-family: 'Magtis';
    font-weight: bold;
    font-style: normal; 
    font-size: 25px;
  }

 #mini{
      display: block;
      border: 2px solid #000000;
      height: 45px;
      width: 45px;
      background: #ffb443;    
      box-shadow: 5px 4px 1px #000;
      border-radius: 15px;

      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: auto auto;
        /*background-color: #3e2723;*/
      place-items: center;
      border: 2px solid #000000;
      place-items: center;
      z-index: 10;
      visibility: hidden;          
    }
  #mini > div{
    width: 100%;
    height:100%;
    border: 1px solid #000000;
  }
  #mini > .div1{
    border-bottom-right-radius: inherit;

  }
  #mini > .div2{
    border-top-right-radius: inherit;

  }
  #mini > .div3{
    border-bottom-left-radius: inherit;
    display: none;

  }
  #mini > .div4{
    border-top-left-radius: 15px;

  }

  .marquee:hover{
    transform: translate(-2px);
    text-shadow: 1px 3px 1px #000;
    color: #ff1a1a;
  }
  /*tabs*/

  .react-tabs{
    /* height: 700px; */
    width: 600px;
    min-height: 600px;
    transition: all 1s ease;
    border-top:none;
    height: 700px;
    position: relative;

  }
  .react-tabs__tab{
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
    background: #fff503 !important;

  }
  .react-tabs__tab--selected{
    border: 5px solid #000000 !important;
    border-bottom: none !important;
    background: #fff503 !important;
  }
  .react-tabs__tab-list{
    margin: 0 !important;
    padding: 0 !important;
    border-bottom: none !important;
  }
  .react-tabs__tab-panel{
    background: #fff !important;
    padding: 15px;
    border: 5px solid #000000;
    box-shadow: 15px 15px 1px #000;
    border-radius:15px;
    border-top-left-radius: 0 !important;
    background: #fff503 !important;
    height: 100% !important;
  }
  .app-project-description{
      max-height: 390px !important;
  }

  .tab-1{
    background: #ff1a1a !important;
  }
  .tab-2{
    background: #fff503;
  }

  /*ol li*/

  ol {
    margin-left: 10px;
    padding: 15px;
  }
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

@media only screen and (max-width: 768px) {
  
    .content{
      /* display: none; */
      width: 100%;
      z-index: 100;
    }
    .right{
      z-index: 100 !important;

    }
    .right > .date{
      font-size: 20px;
      display: grid;
      display: none;
    }

    section{
      width: 90%;
      border: 5px solid #000000;
      box-shadow: 7px 7px 1px #000;
    }
    .about{
      transform: translateY(0);
    }
    .react-tabs{
      height: 100vh;
      border-radius: none !important;
    }
    .react-tabs{
      width: 100% !important;
      border: none;
      box-shadow: none !important;
    }
    .react-tabs__tab-panel{
      border-radius: 0 !important;
      border: none !important;
      box-shadow: none !important;
    }
    .react-tabs__tab{
      background: #fff503 !important;
    }
  }
  @media only screen and (max-width: 430px) {
  
    .container{
      /* display: none; */
      transform:  scale(0.7);
    }
    section{
      width: 100%;
      height: 100vh;
      border: 3px;
      box-shadow: none;
      border-radius: 2px;
    }
    .about > h2 {
      margin-top: 10px;
    }
    .projects > h2 {
      margin-top: 10px;
    }
    .project-card{
      margin-top: 15px;
    }
    .project-description{
      background: #00ff75;
      width: 100%;
      border-radius: 15px;
      border: 2px solid #000000;
      box-shadow: none;
      padding: 10px;
      max-height: 300px;
      z-index: 1;
      top: 0;
      margin-top: 20px;
      margin-left: 0;
      overflow-y: auto;
    
    }
    .project-img{
      width: 100%;
      position: relative;
      border-radius: 15px;
      border: 2px solid #000000;
      display: flex;
      justify-content: center;
      box-shadow: 5px 6px 1px #000000;
    }  
    
    .links > a{
      margin-top: 15px;
      
    }
    
   
    
  }