@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
    cursor: url("https://img.icons8.com/ios/50/null/3d-pointer.png"), auto;
}

body{
  display: flex;
  justify-content:center;
  align-items: center;
  height:100vh;
  color: #000000;
  font-family: 'Space Grotesk', sans-serif;
   background-image: linear-gradient(rgba(0, 0, 255, .5) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 0, 250, .5) .1em, transparent .1em);
  background-size: 3em 3em;
  text-transform: capitalize;
}

@media (prefers-color-scheme: light) {
 
}
